
.inputs {
  margin: 10px;
  position: fixed;
  bottom: 0;
  right: 0;

}

.messages {
  margin: 10px;
  font-size: 2em;
  overflow-y: scroll;
  height: 80vh;
  border: 1px solid black;
  padding: 10px;
}

button {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin: 2px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

input {
  padding: 10px;
  margin: 2px;
  border: 1px solid black;
}

